.progsp {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  margin: 0;
  color: #fffba7;
  background-color: #505050;
}

.progsp a {
  color: #00a9fe;
  text-decoration: none;
}

.progsp a:hover {
  color: #ffa312;
}

.progsp .info {
  font-size: 0.7em;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #FFF4D8;
}

.progsp svg {
  position: absolute;
  top: 0;
}

.progsp .overlay {
  position: relative;
  margin: 20px;
}

.progsp .noscroll {
  overflow: hidden;
}
